*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'interBold';
    src: url('../assets/font/Inter/static/Inter_18pt-Bold.ttf');
}

.header{
    padding: 0 150px;
    background-color: #FAF5F1;
}

.imagemLogo{
    width: 150px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navItem{
    text-decoration: none;
    color: #8C8C8C;
    font-size: 20px;
    margin: 0 15px;
}