#Inicio{
    width: 100%;
    height: 100vh;
    display: flex;
}

.ImagemFundo {
    width: 45vw;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    display: flex;
    justify-content: center;
}

.ImagemFundo .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconPlaceTema{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 75px;
    padding: 0 60px;
}

.logoTexto{
    width: 180px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.separacao{
    height: 4px;
    width: 80%;
    background-color: #2F2F2F;
    margin: 50px 0;
}

.textoInicio{
    width: 60%;
    margin: 50px 0;
    text-align: center;
}

.buttonCarrossel{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: #2F2F2F;
    margin: 0 5px;
}

.buttonCarrossel.ativo{
    background-color: #6b7bc4;
}

.navCarrossel{
    display: flex;
    position: absolute;
    bottom: 50px;
}