/* Padrao */
#login {
    padding: 0;
    display: flex;
    justify-content: space-around;

}


/* Parte da esquerda */
.mainLeft {
    width: 45vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Parte de cima com a logo e icone */
.icons {
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0;
}

.temaIcon {
    width: 40px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Corrigido */
}

.temaIcon:hover {
    transform: scale(1.10);
}

.logoIcon {
    width: 90px;
}

/* Card */

.card-container {
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin: auto;
}



/* Card1 */

.card1 {
    width: 60%;
    margin: auto;
}

#imgCard1 {
    margin-top: -50px;
}

/* Card2 */

.card2 {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headerCard {
    width: 80%;
    margin-bottom: 50px;
}

.tituloCard {
    font-family: 'interBold';
    font-size: 16px;
}

.nomeCard {
    font-family: 'interBold';
    font-size: 12px;
}

.descricaoCard {
    font-family: 'interSemiBold';
    font-size: 8px;
}

.textCard {
    font-family: 'interSemiBold';
    font-size: 12px;
}

.boxCard {
    position: relative;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

#imgCard2 {
    height: 400px;
    object-fit: cover;
    z-index: -1;

}

.iconsCard {
    width: 15px;
    margin: 0 5px;
}

.divCard {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corFundo-card1 {
    background-color: #C7A378;
}

.corFundo-card2 {
    background-color: #334969;
}

.buttonContribuir {
    padding: 10px 20px;
    border-radius: 5px;
}

.buttonsCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudoCard {
    margin: 20px 0;
    padding: 0 100px 0 0;
    display: flex;
    align-items: center;
}

#imgCard3 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 15px 15px 15px 0;

}

.boxCards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 35vw;
}

#card1,
#card2 {
    position: absolute;
}

#card1 {
    z-index: 2;
    top: 0;
    left: 0px;

}

#card2 {
    z-index: 1;
    bottom: 45px;
    right: 0px;
}


/* Parte da direita */

.mainRight {
    width: 60vw;
    height: 100vh;
    border-radius: 10px 0 0 10px;
    box-shadow: -4px 0 10px #2F2F2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* formulario para logar */


.input {
    outline-style: none;
    color: #fff;
    background-color: #F17B3C;
    border-radius: 10px;
    padding: 3% 25px;
    margin-bottom: 16px;
    width: 100%;
}

.button {
    color: #F17B3C;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}

.button:active, .caixa:active {
    transform: scale(0.90);

}

.hover-escuro-button:hover {
    background-color: #393232;
    color: #FF8A50;

}

.hover-claro-button:hover {
    background-color: #FFE5D1;
    color: #D6642D;
}

.buttonLogin {
    margin-top: 16px;
}

.loginSide {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textoLogin {
    margin: 5px 50px 20px 10px;
}

.tituloLogin {
    margin: 0px 0px 0px 10px;
}

.subtituloLogin {
    text-align: center;
    margin: 30px 0;
    cursor: pointer;
}

.subtituloLogin:hover {
    text-decoration: underline;

}

.separacao {
    display: flex;
    align-items: center;
    width: 75%;
}

.tituloSeparacao {
    font-size: 24px;
    margin: 0 10px;
}

.linha {
    height: 2px;
    width: 100%;

}

.outros {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 10px;
}

.caixa {
    width: 45%;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.claro-hover-caixa:hover {
    background-color: #ffeadb;
}

.escuro-hover-caixa:hover {
    background-color: #393232;
}

.loginIcons {
    width: 24px;
    margin: 0 15px 0 0;
}

.githubIcon {
    width: 30px;
}

/* Responcividade */

@media (max-width: 1574px) {

    .boxCard {
        width: 350px;
    }

    #imgCard2 {
        height: 360px;
    }

    .conteudoCard {
        margin: 10px 0;
        padding: 0 25px 0 0;
    }

    .outros {
        width: 70%;
    }

    #card1 {
        top: 45px;
        ;
        left: 0px;

    }


}